@page{ margin:0;}
html, body{
	height:100%;
	margin: 0;
	background-color:#07070c;
}
div.box {
	
	width:100%;
	height:100%;
	font-size:14px;
	font-family:"Times New Roman";
}
div.nav{
	width:100%;
	height:10%;
	display: flex;
	align-items: center;
	justify-content: center;
}
div.main{
	width:100%;
	height:90%;
	color:white;
}
div.left_bar{
	display: block;
	text-align: left;
	float:left;
	width:47%;
	height:100%;
	margin-left:5%;
}
div.right_bar{
	display: block;
	float:right;
	width:48%;
	height:100%;
	text-indent:1%;
}
div.footer{
	display: block;
	height:10%;
	width:100%;
	background-color:#0a0a11;
}
div.author{
	font-size:16px;
	width:60%;
	height:100%;
	float:left;
	text-indent:1%;
	color:white;
	}
p.name{
	margin-top:3%;
}
div.social{
	font-size:13px;
	width:40%;
	height:100%;
	float:right;
	display: flex;
	align-items: center;
	justify-content: center;
}
textarea.code{
	resize: none;
	border-left:4px solid yellow;
	background: url(http://i.imgur.com/2cOaJ.png);
	background-attachment:local;
	background-repeat: no-repeat;
	padding-left: 35px;
	padding-top: 13px;
	line-height:15.7px;
	color:white;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;	
}
img.fb:hover{
	background-image: url("images/facebook-hover.png");
	width:40px;
	height:40px;
}
.myButton {
	box-shadow: 0px 1px 0px 0px #07070c;
	background:linear-gradient(to bottom, #0a0a11 5%, #07070c 100%);
	background-color:#0a0a11;
	border-radius:15px;
	border:2px solid #07070c;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:"Times New Roman";
	font-size:14px;
	padding:12px 16px;
	text-decoration:none;

}
.myButton:hover {
	background:linear-gradient(to bottom, #07070c 5%, #0a0a11 100%);
	background-color:#07070c;
	animation:bouncy 5s infinite linear;
}
.myButton:active {
	position:relative;
	top:1px;
}
.bouncy{
 animation:bouncy 3s infinite linear;
 position:relative;
}
@keyframes bouncy {
 0%{top:0em}
 40%{top:0em}
 43%{top:-0.9em}
 46%{top:0em}
 48%{top:-0.4em}
 50%{top:0em}
 100%{top:0em;}
} 
.myText{
	margin-top:5%;
	background-color:#0a0a11;
	color:white;
	border:2px solid #07080c;
	border-radius:15px;
	padding:12px 16px;
}


   



















